@import "bootstrap-sprockets";
@import "bootstrap";
#header {
  margin: 0 auto;
  padding: 0px 0 50px;
  text-align: center;
  width: 960px;
}
#header .logo {
  display: block;
  margin: 0px auto;
  padding: 0px;
  width: 340px;
}
#header ul {
  margin: 0;
}
#header ul li {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0 19px;
}
#header ul li a {
  color: #252525;
  display: inline-block;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  padding: 0 0 3px;
  text-decoration: none;
  text-transform: uppercase;
}
#header ul li a:hover, #header ul li.selected a {
  color: #0ba39c;
}
.floating-label-form-group{
  font-size: 14px;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 20px;
  margin: 0px;
  font-size: 8.5px;
  line-height: 17.6471px;
  vertical-align: baseline;
  opacity: 0;
  transition: top 0.3s ease 0s, opacity 0.3s
}
.col-xs-12 {
  width: 100%;
}
.floating-label-form-group input, .floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0px;
  padding-left: 0px;
  border: medium none;
  border-radius: 0px;
  font-size: 20px;
  background: none repeat scroll 0px 0px transparent;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group textarea{
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 20px;
  background: 0 0;
  box-shadow: none!important;
  resize: none
}
.btn #send {
  background: none repeat scroll 0% 0% #252525;
  color: #FFF;
  font-family: "Arial Black",Gadget,sans-serif;
  font-size: 15px;
  font-weight: normal;
  display: inline-block;
  padding: 20px 28px;
  width: auto;
  margin-bottom: 30px;
}
#body form input, #body form textarea {
  border: 2px solid #252525;
  color: #252525;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin: 0px 0px 37px;
  padding: 20px 10px;
  text-align: center;
  text-transform: uppercase;
  width: 596px;
}
.container #featured {
  margin: 0 0 13px;
  padding: 0;
  position: relative;
  width: 100%;
}
.container #featured img {
  border: 0;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}
.container #featured div {
  margin-left: -480px;
  margin-top: -171px;
  padding: 0px 0px 0px 470px;
  position: absolute;
  top: 50%;
  text-align: left;
}
.container #featured div h2 {
  background: #fff;
  color: #000;
  display: inline-block;
  font-family: poller_oneregular;
  font-size: 20px;
  font-weight: normal;
  margin: 0 350px 18px;
  padding: 23px 27px 20px;
  text-transform: uppercase;
}
.container #featured div span {
  color: #fff;
  display: inline-block;
  font-size: 20px;
  margin: 7px 120px;
  padding: 12px 27px;
  display: block;
  width: 100%;
}
.container #featured div a {
  background: #000;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  margin: 15px 0 0 450px;
  padding: 26px 27px 22px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.container #featured div a:hover {
  background: #0ba39c;
}
.container > ul {
  margin: 0 auto;
  overflow: hidden;
  padding: 24px 0 0;
  width: 960px;
}
.container > ul li {
  display: block;
  float: left;
  margin: 0 10px 20px;
  padding: 0;
  width: 300px;
}
.container > ul li a {
  color: #000;
  display: block;
  font-family: poller_oneregular;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.container > ul li a img {
  margin: 0;
  padding: 0;
  opacity: .8;
  transition: 0.5s ease-in-out;
  width: 200px;
}
.container > ul li a:hover img {
  opacity: 1;
}
.container > ul li a span {
  display: block;
  margin: 0;
  padding: 33px 0 0;
}
.container form {
  margin: 0 auto;
  padding: 24px 0 0;
  width: 620px;
}
.container form textarea {
  height: 175px;
  overflow: auto;
  resize: none;
}
.container form #send {
  background: #252525;
  color: #fff;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 15px;
  font-weight: normal;
  display: inline-block;
  padding: 20px 28px;
  width: auto;
}
.container form #send:hover {
  background: #fff;
  color: #252525;
  cursor: pointer;
}
#footer {
  background: #252525;
  margin: 0;
  padding: 36px 0 42px;
}
#footer div {
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  width: 960px;
}
#footer div p {
  color: #fff;
  float: left;
  line-height: 44px;
  margin: 0 0 0 10px;
  padding: 0;
}
#footer div ul {
  display: block;
  float: right;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 256px;
}
#footer div ul li {
  display: block;
  float: left;
  list-style: none;
  margin: 0 10px;
  padding: 0;
  width: 44px;
}
#footer div ul li a {
  background: url('icons.jpg') no-repeat 0 0;
  display: block;
  height: 44px;
  margin: 0;
  padding: 0;
  text-indent: -99999px;
  width: 44px;
}
#footer div ul li #twitter {
  background-position: 0 0;
}
#footer div ul li #twitter:hover {
  background-position: -44px 0;
}
#footer div ul li #facebook {
  background-position: 0 -44px;
}
#footer div ul li #facebook:hover {
  background-position: -44px -44px;
}
#footer div ul li #googleplus {
  background-position: 0 -88px;
}
#footer div ul li #googleplus:hover {
  background-position: -44px -88px;
}
#footer div ul li #pinterest {
  background-position: 0 -132px;
}
#footer div ul li #pinterest:hover {
  background-position: -44px -132px;
}
